@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.launch-product{
    background-color: #3758f9;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.title h1 {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    width: 100%;
}

.swiper {
    width: 100%;
    padding-bottom: 60px;
}

.swiper-slide {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #f9fafb;
    border-radius: 10px;
    max-width: 238px;
    max-height: 409px;
}

.product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 222px;
    height: 222px; /* altura mais adequada para a imagem */
    overflow: hidden; /* para garantir que a imagem não ultrapasse */
  }

  .product-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* ou 'cover', dependendo do efeito desejado */
  }

  .product-info {
    display: flex;
    flex-direction: column;
    padding: 6px 8px 8px 0px;

}
  
  .price-discount-line {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .prices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .old-price {
    text-decoration: line-through;
    color: #303030; 
    font-size: 12px;
    font-weight: 400;
  }
  
  .new-price {
    font-weight: bold;
    font-size: 16px;
    font-weight: 700;
  }
  
  .discount p {
    font-size: 11px;
    font-weight: 700;
    background: #5EC0BE;
    border-radius: 4px;
    color: #FFFFFF; /* verde, por exemplo */
  }
  
  .installments p {
    font-size: 13px;
    color: #555;
  }
  

.swiper-button-prev,
.swiper-button-next {
    background-color: #fff;
    width: 25px;
    height: 25px;
    color: #3758f9;
    border: 1px solid #f9fafb;
    border-radius: 100%;
    box-shadow: 0px 0px 20px 0px rgba(92, 115, 160, 0.2);
}

.swiper-button-prev::after {
    content: '\f053';
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
    font-size: 14px;
}

.swiper-button-next::after {
    content: '\f054';
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
    font-size: 14px;
}

.swiper-button-prev {
    left: 3px;
}

.swiper-button-next {
    right: 3px;
}

.swiper-pagination.active {
    background-color: #3758f9;
}